* {
  margin: 0;
  padding: 0;
}
:root {
    /* Main Theme */
    
    --pri-01: #a8e1f2;
    --pri-02: #78c2e5;
    --pri-03: #49a2d4;
    --pri-04: #2a7ca0;
    
    --sec-01: #4c9a6d;
    --sec-02: #3b7a5c;
    --ter-01: #5c4b7f;
    --ter-02: #332b52;

    /* Eng */
    --eng-01: #fcae61;
    --eng-02: #f76c42;
    --eng-03: #f04e24;
    --eng-04: #d7331a;

    /* Comp Sci */
    --comp-01:#3b8dbf;
    --comp-02:#2b6d9c;
    --comp-03:#1b4a73;
    --comp-04:#0a2b4e;
}

body {
    margin: 10px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Lucida Console', 'Courier New', monospace;
    color: var(--sec-02);
    background-color: var(--ter-02);
}

h1 {
    font-size: x-large;
    color: var(--sec-01);
    margin-bottom: 15px;
    text-decoration: underline var(--ter-01) wavy;
}
h2 {
    font-size: large;
    text-decoration: underline var(--ter-01) wavy;
    margin-bottom: 15px;
}
h3 {
    font-size: medium;
    margin-bottom: 15px;
}
p {
    font-size: small;
    margin-bottom: 15px;
}


ul {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    font-size: small;
    display: wrap;
}

li {
    margin: 5px;
}

a {
    color: var(--sec-02);
    text-decoration: underline var(--ter-01) dotted;

    &:hover {
        color: var(--sec-01);
    }
}

/* Containers */
.primary-container {
    margin: 25px;
    padding: 25px;
    border: 1px solid var(--pri-03);
    justify-content: space-between;
    border-radius: 15px;
    /* width: fit-content; */
}

.secondary-container {
    min-width: fit-content;
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--pri-03);
    justify-content: space-between;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover {
        box-shadow: 0 4px 8px 0 black;
        border-color: var(--pri-01);
    }
}

.list-container {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--pri-03);
    border-radius: 15px;
}

/* Top Navigation Bar */

.nav-bar {
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--ter-01);
    margin: -10px;
    margin-bottom: 10px;
}

.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--sec-01);

    &:visited {
        color: var(--sec-01);
    }

    &:hover {
        background-color: var(--ter-02);
        color: var(--sec-02);
    }
}

/* Buttons */

.primary-button {
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    
    &:hover {
        background-color: var(--pri-04);
    }

}

.secondary-button {
    background-color: var(--eng-01);
    border: none;
    color: var(--eng-04);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
        background-color: var(--eng-04);
        color: var(--eng-01);
    }
}

/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: var(--sec-01);
  color: white;
}

.ho-div {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.vert-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Categories */
.english {
    /* background-color: var(--eng-01); */
    /* color: var(--eng-04); */
    border-color: var(--eng-04);
    display: none;
}
.comp-sci {
    /* background-color: var(--comp-01); */
    /* color: var(--comp-04); */
    border-color: var(--comp-04);
}


#home {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.social-platform {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--ter-01);
    border-radius: 10px;
}

.pl-icon, .fw-icon, .social-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.technology {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--pri-04);
    color: var(--pri-02);
    justify-content: space-between;
    font-size: x-small;
    
    &:hover {
        background-color: var(--pri-03);
        color: var(--pri-01);
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 1fr));
    gap: 10px;
}

#projects-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 15px;
}

.project {
    border: 1px solid var(--pri-04);
    border-radius: 10px;
    padding: 15px;

    .title {
        font-size: large;
        margin-bottom: 10px;
    }

    .description {
        font-size: small;
    }

    .technologies {
        margin-top: 10px;
        font-size: small;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 5px;
    }
}


.github-link {
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px;
    background-color: var(--ter-01);
    color: var(--sec-02);
    text-decoration: none;
    display: flex;
    font-size: medium;
    text-align: center;
    justify-content: space-between;


    &:hover {
        text-decoration: underline;
        color: var(--sec-01);
    }

    &::before {
        content: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg");
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}