* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--pri-01);
}
:root {
/* Main Theme */

    --pri-01: #a8e1f2;
    --pri-02: #78c2e5;
    --pri-03: #49a2d4;
    --pri-04: #2a7ca0;

    --sec-01: #4c9a6d;
    --sec-02: #3b7a5c;
    --sec-03: #5c4b7f;
    --sec-04: #332b52;

/* Eng */
  --eng-01: #fcae61;
  --eng-02: #f76c42;
  --eng-03: #f04e24;
  --eng-04: #d7331a;
/* Comp Sci */
  --comp-01:#3b8dbf;
  --comp-02:#2b6d9c;
  --comp-03:#1b4a73;
  --comp-04:#0a2b4e;
}

h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
}
h3 {
    font-size: medium;
}
p {
    font-size: small;
}


ul {
    list-style: disc;
    padding: 10px;
    padding-left: 20px;
    font-size: small;
    display: wrap;
}

li {
    margin: 5px;
}

/* Containers */
.primary-container {
    margin: 10px;
    padding: 10px;
    /* border: 1px solid var(--pri-04); */
    justify-content: space-between;
    border-radius: 15px;
    /* width: fit-content; */
}

.secondary-container {
    min-width: fit-content;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--pri-04);
    justify-content: space-between;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.secondary-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--pri-03);
    border-radius: 15px;
}

/* Top Navigation Bar */

.topnav {
  background-color: var(--sec-02);
  justify-content: space-between;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: var(--pri-01);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Buttons */

.primary-button {
    background-color: var(--pri-03);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--pri-04);
}

.secondary-button {
    background-color: var(--eng-01);
    border: none;
    color: var(--eng-04);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}

.secondary-button:hover {
    background-color: var(--eng-04);
    color: var(--eng-01);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--sec-01);
  color: var(--pink-03);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--sec-01);
  color: white;
}

.ho-div {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.vert-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Categories */
.english {
    /* background-color: var(--eng-01); */
    /* color: var(--eng-04); */
    border-color: var(--eng-04);
    display: none;
}
.comp-sci {
    /* background-color: var(--comp-01); */
    /* color: var(--comp-04); */
    border-color: var(--comp-04);
}